weka/TODO.dtd

<!--
This DTD specifies the format for DOMIdentifinder configuration files
-->

<!ELEMENT TODO (#PCDATA | ITEM)*>

<!ELEMENT ITEM (SUMMARY, AFFECTS*, PROCEDURE, MOTIVATION, DEPENDS)>
<!ATTLIST ITEM ID CDATA #REQUIRED>

<!ELEMENT SUMMARY (#PCDATA)>
<!ELEMENT AFFECTS (#PCDATA)>
<!ELEMENT PROCEDURE (#PCDATA)>
<!ELEMENT MOTIVATION (#PCDATA)>
<!ELEMENT DEPENDS (#PCDATA)>

